/*-----------------------------------------------------------*/
/*SELECTED DISH: --------------------------------------------*/
/*-----------------------------------------------------------*/

.selectedDishCard {
  width: 35vw;
  color: var(--cp-Grey);
  overflow: hidden;
  border-radius: 0.5vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  user-select: none;
}
.selectedDishTitle {
  text-align: center;
  font-size: 5vh;
}
.selectedDishCard > p {
  margin: 2vh;
  font-size: 1rem;
}
.selectedDishCard > button {
  background: var(--cp-Green);
  border: none;
  padding: 2vh;
  color: var(--cp-Grey);
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}
.selectedDishCardClose {
  font-size: 1rem;
  position: absolute;
  right: 2vh;
  cursor: pointer;
  top: 2vh;
}

@media (max-width: 600px) {
  .uiContainter {
    width: 100vw;
  }
}
.orderImg {
  width: 10vh;
  border-radius: 0.5vh;
  display: block;
}
.orderItemMain {
  color: var(--cp-Grey);
  display: grid;
  grid-template-columns: 20vh 3fr 3fr 3fr;
  gap: 2vh;
  align-items: center;
  margin-bottom: 1vh;
}
/* width */
::-webkit-scrollbar {
  width: 1vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--cp-Grey);
  border-radius: 0.2vh;
}
.minus,
.plus {
  background: var(--cp-Green);
  cursor: pointer;
  border-radius: 0.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.minus:hover,
.plus:hover {
  opacity: 0.9;
}
.minus {
  background: var(--cp-Red);
}
.totalOrderForm {
  color: var(--cp-Green);
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  border-bottom: var(--border);
  margin-bottom: 1rem;
}
