.orderContent {
  color: var(--cp-Grey);
  font-size: 3vh;
  padding: 2vh;
  overflow-y: scroll;
  max-height: 80vh;
}

.orderText {
  margin: 0 0.5rem;
  color: var(--cp-Grey);
}
.orderTimeForm {
  margin: 0 0.5rem;
  color: var(--cp-Grey);
  text-align: end;
  margin: 0 5%;
}

.orderItemSide {
  color: var(--cp-Grey);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}
.orderInput {
  background: none;
  border: none;
  font-size: 1.1rem;
  height: 2rem;
  color: var(--cp-Grey);
  width: 90%;
  margin: 0 5%;
  text-align: end;
}
.orderInput:focus {
  outline: none;
}
.orderPrice,
.orderAmount {
  text-align: flex-end;
  font-size: 1.1rem;
}
.orderName {
  font-size: 1.1rem;
}
.orderButton {
  background: var(--cp-Green);
  border: none;
  border-radius: 0.5vh;
  color: var(--cp-Grey);
  padding: 1vh;
  cursor: pointer;
  font-size: 1.25rem;
  user-select: none;
}
.orderButton:hover {
  opacity: 0.9;
}
