:root {
  --cp-Green: rgb(45, 131, 65);
  --cp-Green: rgb(69, 47, 24);
  --cp-Green2: rgb(61, 49, 37);
  --cp-Red: rgb(77, 59, 61);
  --cp-Black: rgb(0, 0, 0);
  --cp-Grey: rgb(174, 169, 152);
  --cp-Greyb: rgb(154, 150, 139);
  --cp-Grey2: rgb(66, 65, 60);
  --cp-Grey3: rgb(23, 35, 37);
  --cp-Black: rgba(0, 0, 0, 0.9);
  --cp-Black80: rgba(0, 0, 0, 0.9);
  --border: 0.1rem solid var(--cp-Grey2);
}

.App {
  width: 100%;
  min-width: 320px;
}

#view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  max-width: 90rem;
}

.bkg {
  position: fixed;
  height: 100%;
  z-index: -20;
}

.gradient {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -19;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(black));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), black);
  color: white;
}

@media screen and (orientation: portrait) {
  .bkg {
    height: 100%;
  }
}

@media screen and (orientation: landscape) {
  .bkg {
    width: 100%;
  }
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  margin: 2vh;
  gap: 2vh;
}

.dishes {
  display: -ms-grid;
  display: grid;
  background: var(--cp-Black80);
  border-radius: 0.5vh;
  padding: 2vh;
  -ms-grid-column: 1;
  grid-column: 1;
  gap: 2vh;
  min-width: 20vh;
  -ms-grid-columns: (minmax(20vh, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(20vh, 1fr));
  border: var(--border);
}

/**********************************************************/
/**FINISHED ORDER******************************************/
/**********************************************************/
.finishedOrder {
  position: relative;
  width: 60vw;
  min-width: 320px;
  background: var(--cp-Black80);
  border-radius: 0.5vh;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  outline: 0.1rem solid var(--cp-Green);
}

.closeFinal {
  background: none;
  position: absolute;
  color: var(--cp-Green);
  font-weight: 1000;
  font-size: 2rem;
  border: none;
  top: 0.25vh;
  right: 1vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.closeFinal:hover {
  opacity: 0.75;
}

.orderDetails {
  margin: 1rem;
  color: var(--cp-Grey);
}

@media screen and (max-width: 700px) {
  header {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
  }
  .logo {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .login {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .login2 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .locations {
    border-right: none;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .time {
    border: none;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

@media screen and (max-width: 540px) {
  main {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
  }
  .orderForm {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .dishes {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .menu {
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

@media screen and (max-width: 400px) {
  header {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
  }
  .logo {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .login {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    height: 3rem;
    border-top: 0.1rem solid var(--cp-Grey2);
    border-left: none;
  }
  .login2 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    border-top: 0.1rem solid var(--cp-Grey2);
    border-left: none;
  }
  .locations {
    border-right: none;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .time {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
}

.uiContainter {
  width: 30rem;
  max-width: 35rem;
  background: var(--cp-Black80);
  border-radius: 0.5vh;
  overflow: hidden;
  margin-top: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: var(--border);
}

.uiContainerBtn {
  background: var(--cp-Green);
  border: none;
  color: var(--cp-Grey);
  padding: 0.5vh;
  cursor: pointer;
  font-size: 2vh;
  margin: 0.5vh;
  border-radius: 0.25rem;
}

.uiContainerBtn:hover {
  opacity: 0.85;
}

.logInGrid > input {
  background: var(--cp-Grey3);
  border: none;
  padding: 0.2rem;
  border-radius: 0.2rem;
  color: var(--cp-Grey);
  font-size: 1.1rem;
}

.logInGrid > input:focus {
  outline: none;
}

.greyout {
  background: var(--cp-Black);
  position: fixed;
  overflow-y: scroll;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  min-width: 320px;
  height: 100%;
  z-index: 25;
  top: 0;
}

/**********************************************************/
/**FINISHED ORDER******************************************/
/**********************************************************/
.finishedOrder {
  position: relative;
  width: 60vw;
  min-width: 320px;
  background: var(--cp-Black80);
  border-radius: 0.5vh;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  outline: 0.1rem solid var(--cp-Green);
}

.closeFinal {
  background: none;
  position: absolute;
  color: var(--cp-Green);
  font-weight: 1000;
  font-size: 2rem;
  border: none;
  top: 0.25vh;
  right: 1vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.closeFinal:hover {
  opacity: 0.75;
}

.orderDetails {
  margin: 1rem;
  color: var(--cp-Grey);
}

.break {
  color: var(--cp-Grey);
}

.headContainer {
  background: black;
  -webkit-box-shadow: -1rem 0rem 1rem #000000;
          box-shadow: -1rem 0rem 1rem #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: "black";
}

header {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  height: auto;
  min-width: 350px;
  width: 100rem;
  color: var(--cp-Grey);
}

.logo {
  height: 9vh;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  font-size: 6vh;
  margin-left: 1rem;
  font-weight: 1000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--cp-Grey);
}

#la {
  font-size: 3vh;
}

.login {
  -ms-grid-column: 4;
  grid-column: 4;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login2 {
  -ms-grid-column: 4;
  grid-column: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
}

.logBtn1,
.register {
  height: 40%;
  width: 35%;
  min-width: 7rem;
  margin: 0 0.5rem;
  position: relative;
  font-weight: 400;
  font-size: 2vh;
  background: var(--cp-Green);
  border: none;
  border-radius: 0.5vh;
  color: var(--cp-Grey);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.register {
  margin-right: 0rem;
}

.userBtn {
  position: relative;
  border: none;
  border-radius: 50%;
  padding: 0.25rem;
  height: 3rem;
  cursor: pointer;
  margin: 0 0.5rem;
  background: var(--cp-Grey);
}

.userData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.user {
  font-weight: 1000;
  font-size: 2vh;
}

.points {
  font-size: 1.75vh;
}

.logOut {
  color: var(--cp-Green);
  background: none;
  font-size: 1.75vh;
  display: block;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
}

.logOut:hover {
  opacity: 0.85;
}

.logBtn1:hover,
.register:hover {
  opacity: 0.55;
}

#usericon {
  height: 100%;
  opacity: 1;
  outline: 0.25rem solid var(--cp-Green);
  outline-offset: -2px;
  border-radius: 50%;
}

.labelPlace,
.labelTime {
  margin-left: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.labelTime {
  width: 5rem;
}

.chosenTime {
  color: "var(--cp-White)";
  margin: "0 1rem";
  font-size: "3vh";
}

.locations {
  border-top: var(--border);
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  height: 2rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.locationsTXT {
  -webkit-box-flex: 3fr;
      -ms-flex: 3fr;
          flex: 3fr;
}

.locationSelect {
  -webkit-box-flex: 3fr;
      -ms-flex: 3fr;
          flex: 3fr;
  height: 80%;
  margin-right: 1rem;
  position: relative;
  background-color: var(--cp-Grey3);
  border-radius: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 1rem;
  color: var(--cp-White);
  font-size: 1rem;
  cursor: pointer;
  border: var(--border);
}

.locationSelect:focus {
  outline: none;
}

.time {
  border-top: var(--border);
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 2;
  grid-row: 2;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.deliveryTime {
  position: relative;
  -webkit-box-flex: 3fr;
      -ms-flex: 3fr;
          flex: 3fr;
  height: 80%;
  margin-right: 0.5rem;
  background-color: rgba(110, 110, 110, 0.3);
  border-radius: 0.3rem;
  color: var(--cp-White);
  font-size: 1rem;
  text-align: center;
  border: var(--border);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.deliveryTime:focus {
  outline: none;
}

.deliveryTime::-webkit-calendar-picker-indicator {
  position: absolute;
  padding-left: 100%;
  cursor: pointer;
}

.chosenTime {
  margin-right: 1rem;
}

.selectedDishClose,
.selectedDish {
  border-radius: 0.5rem;
}

.chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.25rem;
  position: relative;
  overflow: hidden;
}

#foodIcon {
  position: relative;
}

#motobike,
#foodTray {
  height: 3rem;
  -webkit-filter: invert(73%) sepia(17%) saturate(218%) hue-rotate(9deg) brightness(90%) contrast(90%);
          filter: invert(73%) sepia(17%) saturate(218%) hue-rotate(9deg) brightness(90%) contrast(90%);
}

#motobike2 {
  position: absolute;
  height: 3rem;
  -webkit-filter: invert(73%) sepia(17%) saturate(218%) hue-rotate(9deg) brightness(90%) contrast(90%);
          filter: invert(73%) sepia(17%) saturate(218%) hue-rotate(9deg) brightness(90%) contrast(90%);
  -webkit-animation: drive 2s 0s 1;
          animation: drive 2s 0s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.endPointChartTxt {
  color: var(--cp-Grey);
}

#foodTray {
  height: 1rem;
  top: -1rem;
  left: 0.5rem;
  position: absolute;
  opacity: 0;
}

.animate {
  -webkit-animation: dropFood 0.2s 0s 1;
          animation: dropFood 0.2s 0s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.motoChart {
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.trace {
  display: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dots {
  height: 1rem;
  position: relative;
  top: -0.1rem;
  border-top: 0.25rem var(--cp-Grey) dashed;
}

p {
  font-weight: bold;
  color: var(--cp-Grey);
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.arrow > div {
  position: relative;
  left: -0.25rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 0.5rem;
  width: 0.51rem;
  border-top: 0.25rem var(--cp-Grey) solid;
  border-right: 0.25rem var(--cp-Grey) solid;
}

#gratitude {
  position: absolute;
  margin: 0;
  padding: 0;
  opacity: 0;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

p {
  margin: 0;
  padding: 0;
}

.distanceChart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  -webkit-transition: 1s;
  transition: 1s;
}

.distanceChart > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.endPointChart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s;
  transition: 1s;
}

@-webkit-keyframes dropFood {
  0% {
    top: -1rem;
    opacity: 0;
  }
  5% {
    top: -1rem;
    opacity: 1;
  }
  75% {
    top: -0.25rem;
    opacity: 1;
  }
  to {
    top: -0.1rem;
    opacity: 0;
  }
}

@keyframes dropFood {
  0% {
    top: -1rem;
    opacity: 0;
  }
  5% {
    top: -1rem;
    opacity: 1;
  }
  75% {
    top: -0.25rem;
    opacity: 1;
  }
  to {
    top: -0.1rem;
    opacity: 0;
  }
}

@-webkit-keyframes drive {
  0% {
    left: 0.5rem;
  }
  100% {
    left: 13rem;
  }
}

@keyframes drive {
  0% {
    left: 0.5rem;
  }
  100% {
    left: 13rem;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logInGrid {
  color: var(--cp-Green);
  margin: 5%;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2vh;
}

.logInGrid > input {
  height: 4vh;
}

input::-webkit-input-placeholder {
  color: var(--cp-Grey);
  font-weight: 200;
}

input:-ms-input-placeholder {
  color: var(--cp-Grey);
  font-weight: 200;
}

input::-ms-input-placeholder {
  color: var(--cp-Grey);
  font-weight: 200;
}

input::placeholder {
  color: var(--cp-Grey);
  font-weight: 200;
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  margin: 0.5rem 0;
  border-top: 0.1rem solid var(--cp-Grey);
  padding-top: 0.5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.orderSection {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  color: white;
}

.currentOrder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--cp-Black80);
  border-radius: 0.5vh;
  min-width: 30vh;
  padding: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border: var(--border);
}

/*-----------------------------------------------------------*/
/*MENU: -----------------------------------------------------*/
/*-----------------------------------------------------------*/
.menuTitle {
  color: var(--cp-Greyb);
  font-size: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-weight: 700;
  padding-left: 1rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.1vh;
  background: var(--cp-Black80);
  border-radius: 0.5vh;
  padding: 2vh 0vh;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  border: var(--border);
}

.menuButton {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 2vh;
  font-weight: 200;
  background-color: var(--cp-Green2);
  padding: 0.75vh;
  opacity: 0.85;
  cursor: pointer;
  color: var(--cp-Greyb);
  margin-bottom: 0.2rem;
}

.menuButton:hover {
  opacity: 1;
}

.menuContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20vh, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(20vh, 1fr));
  gap: 2vh;
  padding: 2vh;
  min-width: 20vh;
}

.dishTabDaily,
.dishTab {
  background: var(--cp-Grey3);
  border-radius: 0.5vh;
  width: 20vh;
  overflow: hidden;
  position: relative;
  height: 30vh;
  opacity: 0.85;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: auto;
  -webkit-box-shadow: 0.2rem 0.2rem 5px black;
          box-shadow: 0.2rem 0.2rem 5px black;
  border: var(--border);
}

.dishTabDaily::before {
  content: "DAILY";
  position: absolute;
  background: var(--cp-Grey3);
  color: var(--cp-Green);
  margin-top: 0.3vh;
  margin-left: 6.5vh;
  padding: 0.7vh;
  border-radius: 0.5vh;
  font-weight: 700;
  -webkit-animation: blink 3s linear infinite;
          animation: blink 3s linear infinite;
}

@-webkit-keyframes blink {
  50% {
    color: var(--cp-Grey);
  }
}

@keyframes blink {
  50% {
    color: var(--cp-Grey);
  }
}

.dishTabDaily:hover,
.dishTab:hover {
  opacity: 1;
}

.dishTabDaily:hover::before {
  -webkit-transition: 1s;
  transition: 1s;
  margin-left: 0.5vh;
}

.img {
  height: 60%;
  width: 100%;
}

.titlePrice {
  font-size: 2vh;
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
  margin: 0vh 0.5vh;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  color: var(--cp-Grey);
  font-weight: 200;
}

.price {
  color: var(--cp-Grey);
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.calories {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  position: relative;
  bottom: 0.25rem;
  opacity: 0.6;
  color: var(--cp-Grey);
}

h4,
h5 {
  margin: 0;
}

.add {
  position: absolute;
  bottom: 1vh;
  right: 1vh;
  border: none;
  background-color: var(--cp-Grey);
  border-radius: 0.5vh;
  width: 4vh;
  height: 4vh;
  font-size: 3.5vh;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--cp-Green);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.addTxt {
  font-size: 0;
}

.add:hover {
  -webkit-transition: 1s;
  transition: 1s;
  width: 8vh;
  gap: 1vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2vh;
}

.add:hover .addTxt {
  font-size: 2vh;
  -webkit-transition: 1s;
  transition: 1s;
}

.orderContent {
  color: var(--cp-Grey);
  font-size: 3vh;
  padding: 2vh;
  overflow-y: scroll;
  max-height: 80vh;
}

.orderText {
  margin: 0 0.5rem;
  color: var(--cp-Grey);
}

.orderTimeForm {
  margin: 0 0.5rem;
  color: var(--cp-Grey);
  text-align: end;
  margin: 0 5%;
}

.orderItemSide {
  color: var(--cp-Grey);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
}

.orderInput {
  background: none;
  border: none;
  font-size: 1.1rem;
  height: 2rem;
  color: var(--cp-Grey);
  width: 90%;
  margin: 0 5%;
  text-align: end;
}

.orderInput:focus {
  outline: none;
}

.orderPrice,
.orderAmount {
  text-align: flex-end;
  font-size: 1.1rem;
}

.orderName {
  font-size: 1.1rem;
}

.orderButton {
  background: var(--cp-Green);
  border: none;
  border-radius: 0.5vh;
  color: var(--cp-Grey);
  padding: 1vh;
  cursor: pointer;
  font-size: 1.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.orderButton:hover {
  opacity: 0.9;
}

/*-----------------------------------------------------------*/
/*SELECTED DISH: --------------------------------------------*/
/*-----------------------------------------------------------*/
.selectedDishCard {
  width: 35vw;
  color: var(--cp-Grey);
  overflow: hidden;
  border-radius: 0.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectedDishTitle {
  text-align: center;
  font-size: 5vh;
}

.selectedDishCard > p {
  margin: 2vh;
  font-size: 1rem;
}

.selectedDishCard > button {
  background: var(--cp-Green);
  border: none;
  padding: 2vh;
  color: var(--cp-Grey);
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}

.selectedDishCardClose {
  font-size: 1rem;
  position: absolute;
  right: 2vh;
  cursor: pointer;
  top: 2vh;
}

@media (max-width: 600px) {
  .uiContainter {
    width: 100vw;
  }
}

.orderImg {
  width: 10vh;
  border-radius: 0.5vh;
  display: block;
}

.orderItemMain {
  color: var(--cp-Grey);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20vh 3fr 3fr 3fr;
      grid-template-columns: 20vh 3fr 3fr 3fr;
  gap: 2vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1vh;
}

/* width */
::-webkit-scrollbar {
  width: 1vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--cp-Grey);
  border-radius: 0.2vh;
}

.minus,
.plus {
  background: var(--cp-Green);
  cursor: pointer;
  border-radius: 0.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.minus:hover,
.plus:hover {
  opacity: 0.9;
}

.minus {
  background: var(--cp-Red);
}

.totalOrderForm {
  color: var(--cp-Green);
  font-weight: 700;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: var(--border);
  margin-bottom: 1rem;
}

.orderPrice {
  text-align: end;
}

body {
  font-family: arial;
  margin: 0;
  padding: 0;
  /*background-image: url("../public/images/background.jpg");*/
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
}

.root {
  width: 100%;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  margin: 2vh;
  gap: 2vh;
}

.dishes {
  display: -ms-grid;
  display: grid;
  background: var(--cp-Black80);
  border-radius: 0.5vh;
  padding: 2vh;
  -ms-grid-column: 1;
  grid-column: 1;
  gap: 2vh;
  min-width: 20vh;
  -ms-grid-columns: (minmax(20vh, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(20vh, 1fr));
}

@media screen and (max-width: 700px) {
  header {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
  }
  .logo {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .login {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .login2 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .locations {
    border-right: none;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .time {
    border: none;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    grid-row: 3;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .chosenTime {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 540px) {
  main {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
  }
  .orderForm {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .dishes {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .menu {
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

@media screen and (max-width: 400px) {
  header {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
  }
  .logo {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .login {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    height: 3rem;
    border-top: 0.1rem solid var(--cp-Grey2);
    border-left: none;
  }
  .login2 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    border-top: 0.1rem solid var(--cp-Grey2);
    border-left: none;
  }
  .locations {
    border-right: none;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .time {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--cp-Green);
  border-radius: 0.2vh;
}
/*# sourceMappingURL=index.css.map */